body{
  background-color: #F1F3F4;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: helvetica, sans-serif;
}
.main-container{
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
h3{
  margin-top: 2rem;
  border-bottom: .5px solid;
  padding-bottom: 0.5rem;
  font-size: 1.2em;
  font-weight: 600;
}
h2{
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
}
#total-balance{
  margin-top: .1em;
  font-weight: 800;
  font-size: 1.4em;
  padding-left: .5rem;
}

#transaction-overview{
  border: 3px;
  border-top: 0;

}
.tran-field label{
  display: block;
}
.tran-field input{
  width: 100%;
  overflow-x: hidden;
  padding: 1rem 0;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
.tran-field input:focus{
  outline: none;
}
li{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
li span{
  margin-left: auto;
  margin-right: .5rem
}
#transaction-overview{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#transaction-overview div{
  padding: .5rem;
}
input[type="submit"]{
  padding: 1rem;
  cursor: pointer;
  background-color: #633A82;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 2rem;
}
input[type="submit"]:hover{
  background-color: #512B58;
}
p{
  margin-bottom: 0.5rem;
}
.transaction-item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 1rem;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
li div{
  display: inline-block;
  width: 10px;
  background-color: black;
  height: 2em;
}
.income{
  background-color: #61d4b3;
}
.expense{
  background-color: #F64B3C;
}
