body{
  background-color: #F1F3F4;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: helvetica, sans-serif;
}
h1{
  font-family: 'Bree Serif', cursive;
  font-size: 4rem;
  margin-bottom: .5rem;
}
.main-container{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
h3{
  margin-top: 2rem;
  border-bottom: .5px solid;
  padding-bottom: 0.5rem;
  font-size: 1.2em;
  font-weight: 600;
}
h2{
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
}
#total-balance{
  margin-top: .1em;
  font-weight: 600;
  font-size: 1.4em;
  padding-left: .5rem;
}

#transaction-overview{
  border: 3px;
  border-top: 0;
}
.sect1{
  border-right: 1px solid rgba(168, 171, 165, 0.4);
}

.sect1,
.sect2{
  padding: .2rem;
}

#total-income{
  color: green;
}
#total-expense{
  color: red;
}
.tran-field label{
  display: block;
}
.tran-field input{
  width: 100%;
  overflow-x: hidden;
  padding: 1rem 0;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
.tran-field input:focus{
  outline: none;
}
li{
  list-style: none;
  display: flex;
  padding: 5px;

}
li span{
  margin-right: .5rem;
  margin-left: auto;
}
ul{
  display: flex;
  flex-direction: column-reverse;
}
#transaction-overview{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#transaction-overview div{
  padding: .5rem;
}
input[type="submit"]{
  padding: 1rem;
  cursor: pointer;
  background-color: #633A82;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 2rem;
}
input[type="submit"]:hover{
  background-color: #512B58;
}
p{
  margin-bottom: 0.5rem;
}
.transaction-item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 1rem;
  border-right: 10px black solid;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.income{
  border-color: #61d4b3;
}
.expense{
  border-color: #F64B3C;
}
.btn{
  margin-right: 0;
  display: none;
  margin-right: 0.2rem;
}
li:hover .btn{
  display: inline;
}
