body{
  background-color: #F1F3F4;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: helvetica, sans-serif;
}
.main-container{
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
h3{
  margin-top: 2rem;
  border-bottom: .5px solid;
  padding-bottom: 0.5rem;
  font-size: 1.2em;
  font-weight: 600;
}
h2{
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
}
#total-balance{
  margin-top: .1em;
  font-weight: 800;
  font-size: 1.4em;
  padding-left: .5rem;
}

#transaction-overview{
  border: 3px;
  border-top: 0;

}
.tran-field label{
  display: block;
}
.tran-field input{
  width: 100%;
  overflow-x: hidden;
  padding: 1rem 0;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
.tran-field input:focus{
  outline: none;
}
li{
  list-style: none;
}
#transaction-overview{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
input[type="submit"]{
  padding: 1rem;
  cursor: pointer;
  background-color: #633A82;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 2rem;
}
input[type="submit"]:hover{
  background-color: #512B58;
}
p{
  margin-bottom: 0.5rem;
}
.transaction-item span{
  margin-left: 15px;
}
